Python/Python_Notes(Turkish)/Python Eski Notlar/
Python/Python_Notes(Turkish)/class zor örnekler.txt
Python/Python_Notes(Turkish)/kütüphane.db
Python/Python_Notes(Turkish)/stdin.py
Python/Python_Notes(Turkish)/sys.argv.py
Python/Python_Notes(Turkish)/profil.jpg
Python/Python_Notes(Turkish)/profil2.jpg
Python/Python_Notes(Turkish)/profil3.jpg
Python/Python_Notes(Turkish)/profil4.jpg
Python/Python_Notes(Turkish)/profil5.jpg
Python/Python_Notes(Turkish)/profil6.jpg
Python/Python_Notes(Turkish)/profil7.jpg
Python/Python_Notes(Turkish)/profil8.jpg
Python/Python_Notes(Turkish)/profil9.jpg
Python/Python_projects/Text_Editor/text_venv/
Python/Python_projects/Currency_Calculater_/cur/
