Python_Notes(Turkish)/Python Eski Notlar/
Python_Notes(Turkish)/class zor örnekler.txt
Python_projects/Speak_to_Text/mvenv/
Python_Notes(Turkish)/kütüphane.db
Python_Notes(Turkish)/stdin.py
Python_Notes(Turkish)/sys.argv.py
Python_Notes(Turkish)/profil.jpg
Python_Notes(Turkish)/profil2.jpg
Python_Notes(Turkish)/profil3.jpg
Python_Notes(Turkish)/profil4.jpg
Python_Notes(Turkish)/profil5.jpg
Python_Notes(Turkish)/profil6.jpg
Python_Notes(Turkish)/profil7.jpg
Python_Notes(Turkish)/profil8.jpg
Python_Notes(Turkish)/profil9.jpg
Text_Editor/text_venv/
Currency_Calculater_/cur/
